/* Variaveis */
.light {
  --separator: #e8e7e7;
  --gray-600: #718096;
  --gray-800: #2d3748;
  --bg: #fff;
}

/* Variáveis no modo escuro */

.dark {
  --separator: #495261;
  --gray-600: #b5b5b5;
  --gray-800: #e8e8e8;
  --bg: #2d3748;
}
/* Estilos globais */

/* Removendo espaçamentos padrão */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
}

/* Colocando font e cor do texto */
*,
input,
textarea {
  font-family: "Roboto", sans-serif;
  color: var(--gray-600);
}

header {
  padding-top: 45px;
  padding-bottom: 45px;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  text-decoration: none;
}

.hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-hero {
  width: 70%;
}

main {
  margin-top: 64px;
}

main > section {
  width: 70vw;
  margin: 0 auto;
}

.title {
  font-size: 45px;
  color: var(--gray-800);
}

.subtitle-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.subtitle {
  color: var(--gray-800);
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--separator);
  margin-bottom: 30px;
  margin-top: 30px;
}

/* Colocando um espaçamento entre os paragrafos */

.paragraph + .paragraph {
  margin-top: 32px;
}

.m-b-t {
  margin-bottom: 20px;
  margin-top: 20px;
}

.img-content-container {
  width: 100%;
  margin-top: 48px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
}

.img-content-container img {
  max-width: 90%;
}

footer {
  padding-bottom: 45px;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.copyright h4 {
  color: var(--gray-800);
}

.icons {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
}
/* Código para o switch button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Esconde o input do html padrão */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
/* Esse block adiciona a animação ao switch */
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 610px) {
  .icons {
    display: none;
  }
}
